.field {
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  background-image: url("^assets/img/green_Background.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.logo {
  position: absolute;
  display: flex;
  align-items: center;
  top: 50px;
  left: 3%;
  z-index: 1;
  height: 2rem;
  width: 300px;
  color: rgba(255, 255, 255, 0.3);
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: bold;
  text-shadow: 9px 7px 10px rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
}

.card-stack {
  position: relative;
  img {
    position: absolute;
    width: 120px;
    transition: all 0.2s ease-in-out;

    &:nth-child(5):hover {
      cursor: pointer;
      transform: translate(-6%, 5%);
      transform-origin: right top;
      scale: 1.05;
      transition: all 0.2s ease-in-out;
    }

    &:nth-child(1) {
      box-shadow: -2px -2px 8px 8px rgba(0, 0, 0, 0.3);
    }
  }
}

.pick-card {
  animation: pick-card-animation 1s linear forwards;
  cursor: pointer;
}

.played-cards {
  // position: absolute;
  left: -12px;
  top: 15px;
  transform-origin: left top;
  transform: scale(1.1) translate(-200px, -300px) rotate(-10deg);
}

.played-cards:not(.played-cards ~ .played-cards) {
  box-shadow: -2px -2px 8px 8px rgba(0, 0, 0, 0.3);
}

.player-position {
  position: absolute;
  right: 0px;
  z-index: 1;
}

.btn-add {
  position: absolute;
  right: 2%;
  bottom: 5%;
  background-color: transparent;
  border: 1px solid hsl(39, 14%, 25%);
  backdrop-filter: blur(2px);
  color: white;
  box-shadow: -7px 6px 8px 0px rgba(0, 0, 0, 0.34),
    7px 1px 10px 7px rgba(255, 255, 255, 0.31) inset;
  -webkit-box-shadow: -7px 6px 8px 0px rgba(0, 0, 0, 0.34),
    4px 1px 10px 4px rgba(255, 255, 255, 0.31) inset;
  -moz-box-shadow: -7px 6px 8px 0px rgba(0, 0, 0, 0.34);
}

.jumping-button {
  animation: jumpingButton 0.5s linear infinite;
  transform-origin: center;
}

@keyframes jumpingButton {
  0% {
    transform: translateY(0);
  }
  33% {
    transform: translateY(-3px);
  }
  66% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0px);
  }
}

.game-over {
  display: flex;
  justify-content: center;
  width: 90%;
  // height: 90%;
  font-size: 1vw;
  font-weight: 800;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease-in-out;
  color: rgba(255, 255, 255, 0.6);
  text-shadow: 9px 7px 10px rgba(0, 0, 0, 0.7);
  animation: zoom 0.5s linear forwards;
  cursor: pointer;

  &:hover::before {
    content: "Click for new game";
    position: absolute;
    font-size: 3vw;
    top: 70px;
    left: 50%;
    transform: translate(-50%, 0);
    color: red;
    // rotate: -30deg;
  }
}

@keyframes zoom {
  0% {
    font-size: 1vw;
  }
  100% {
    font-size: 12vw;
  }
}

@media screen and (min-width: 521px) {
  @keyframes pick-card-animation {
    // in keyframes KEIn !important verwenden!!!!!!!!
    0% {
      scale: 1.05;
      transform: translate(0, 0);
    }
    50% {
      scale: 1.6;
      transform: translate(0, 0);
    }

    100% {
      transform: scale(1.1) translate(-200px, -300px) rotate(-10deg);
    }
  }
}

@media screen and (max-width: 520px) {
  @keyframes pick-card-animation {
    // in keyframes KEIn !important verwenden!!!!!!!!
    0% {
      scale: 1.05;
      transform: translate(0, 0);
    }
    50% {
      scale: 1.6;
      transform: translate(0, 0);
    }

    100% {
      transform: scale(1) translate(-30px, -165px) rotate(-10deg);
    }
  }

  .field {
    justify-content: flex-start;
  }

  .card-stack {
    margin-left: 20%;
    margin-right: 80%;
    margin-bottom: 125px;
    img {
      width: 90px;
    }
  }

  .logo {
    top: 2%;
    left: 2%;
    height: 2rem;
    width: 300px;
    color: rgba(255, 255, 255, 0.3);
    font-size: 1.5rem;
    line-height: 2.5rem;
  }

  .btn-add {
    bottom: 3%;
    right: 5%;
  }

  .mdc-fab {
    width: 30px;
    height: 30px;
  }

  .played-cards {
    // position: absolute;
    left: 0px;
    top: 21px;
    transform-origin: left top;
    transform: scale(1) translate(-30px, -165px) rotate(-10deg);
  }

  @keyframes pick-card-animation {
    // in keyframes KEIn !important verwenden!!!!!!!!
    0% {
      scale: 1.05;
      transform: translate(0, 0);
    }
    50% {
      scale: 1.6;
      transform: translate(0, 0);
    }

    100% {
      transform: scale(1) translate(-30px, -165px) rotate(-10deg);
    }
  }
}
