/* You can add global styles to this file, and also import other style files */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

button,
input,
textarea,
select {
  font: inherit;
}

.mat-mdc-dialog-container {
  --mdc-dialog-container-color: #7c1b1b00 !important;
  --mdc-dialog-with-divider-divider-color: rgba(0, 0, 0, 0.12);
  --mdc-dialog-subhead-color: rgba(0, 0, 0, 0.87);
  --mdc-dialog-supporting-text-color: rgba(0, 0, 0, 0.6);
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  background-color: transparent !important;
}
